*.pyc
*.py.log

.project
.pydevproject

samples/Census/census-income.data
samples/Census/census-experiment-output.csv
samples/Census/census-experiment-repetitions_aggregates.csv
samples/Census/census-experiment-repetitions_singles.csv
